
body{
  background-color: #32273c;
  background-image: url(../images/pexelsback.jpg);
  background-position: center;
  background-size:77cm;
}
main{
  padding-top: 3cm;
}

#svbtn{
 padding-top: 5%;
}

.bg-custom {
  background-color: #180b24f5;
}



.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

.button-container {
  display: flex; 
  align-items: center;
}


.mdl-button {
  margin-right: 10px; 
}

#pick-image{
  margin-left: 50%;
}

.notessec{
  margin-top: 10px;
}

#pick-image {
  color: white;
}

