body{
  background-color: #32273c;
  background-image: url(../images/pexelsback.jpg);
  background-position: center;
  background-size:77cm
}
main{
  padding-top: 1cm;
}

.bg-custom {
  background-color: #30173a;
}

.card{
  margin: 10px auto;
}


.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}
